.question-table-wrapper {
    max-height: 80dvh; 
    overflow-y: scroll;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    scroll-behavior: smooth;
}


.question-table {
    margin-top: 50px;
    width: 90%;
    color: white;
}

.question-table th,
.question-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.question-table thead th {
    position: sticky;
    top: 0;
    background-color: #222222;
    z-index: 2;
}

.question-table th {
    background-color: #222222;
}

.question-table tbody tr {
    background-color: #333333;
}

.question-table tbody tr:hover {
    transition: all 300ms ease-in-out;
    background-color: #444444;
}

.admin-route-wrapper {
    align-items: start !important;
}

.button-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

button {
    font-size: 12px;
}