.container {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 5fr;
    animation: appear 500ms ease-in-out;
}

.search-result-container {
    position: relative;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    color: white;
    height: fit-content;
    background-color: rgb(105, 105, 105);
    box-shadow: 1px 1px 5px rgb(54, 54, 54);
    box-sizing: border-box;
    padding: 8px;
}

.search-input {
    max-width: 600px;
}
