.faq-container {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 4fr;
    align-items: center;
    justify-items: center;
    color: white;
    animation: appear 500ms ease-in-out;
    position: relative;
}

strong {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    width: 90%;
}

p {
    text-align: center;
}

.solution-container {
    height: 100%;
    margin-bottom: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.video-container img {
    height: 50px;
    animation: pumping infinite 1s;
}

@keyframes pumping {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.video-container span {
    font-size: 12px;
    font-weight: 200;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    border: 0;
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(12, 12, 12);
    border-radius: 20px;
    background-color: #303030;
}

.solution-text {
    width: 90%;
    white-space: pre-line;
    font-size: 14px;
    font-weight: 200;
    line-height: 25px;
    text-align: start;
}