
.back-button {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background-color: grey;
    box-shadow: 1px 1px 5px rgb(56, 56, 56);
}

.back-button {
    border: grey 1px solid;
}

.back-button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}